<!doctype html>
{% extends "bootstrap/base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block title %}Inventory{% endblock %}


{% block content %}
<div class="container-fluid">
    <br>
    <ul class="nav nav-pills">
        <li class="active dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('.hello_world') }}">Inventory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('.add_incident') }}">Add</a></li>
            <li><a href="{{ url_for('.inventory_browse') }}">Browse</a></li>                      
          </ul>
    </ul>
    <br>

	{% for message in get_flashed_messages() %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<br>
	<p><h1>Add incident:</h1></p>

	<form action="/add_incident/" method="POST">
	 	{{ form.csrf_token }}
		<div class="form-group">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    <table class="table table-responsive">
		    {% for field in form %}
    		<tr>     		
        	<td>{{ field.label }}</td>
        	<td>{{ field }}</td>
    		</tr>
			{% endfor %}

			</table>
		</div>
	</form> 
</div>
{% endblock %}
