{% extends "header.html" %}

{% block main %}
<div class="container-fluid">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<br>
	<p><h1>Add incident:</h1></p>

	<form action="/add_incident/" method="POST">
	 	{{ form.csrf_token }}
		<div class="form-group">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    <table class="table table-responsive">
		    {% for field in form %}
    		<tr>     		
        	<td>{{ field.label }}</td>
        	<td>{{ field }}</td>
    		</tr>
			{% endfor %}

			</table>
		</div>
	</form> 
</div>
{% endblock %}
