{% extends "header.html" %}

{% block main %}
<div class="container-fluid">
	<br>
	{% for message in get_flashed_messages(category_filter=['error']) %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	{% for message in get_flashed_messages(category_filter=['success']) %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<br>
	<p><h1>Add incident:</h1></p>

	<form action="/add_incident/" method="POST">
	 	{{ form.csrf_token }}
		<div class="form-group">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    <table class="table table-responsive">
		    {% for field in form %}
			    {% if field != form.csrf_token %}
		    		<tr>     		
		        	<td>{{ field.label }}</td>
		        	<td>{{ field }}</td>
		    		</tr>
		    	{% endif %}
			{% endfor %}

			</table>
		</div>
	</form> 
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% endblock %}
