<!doctype html>
{% extends "index.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block content %}
	{% for message in get_flashed_messages() %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	<br>
	<p><h1>Edit inventory:</h1></p>

	<form method="POST">
	 	{{ form.csrf_token }}
		<div class="form-group">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    <table class="table table-responsive">
		    <tr>
		    	<td>{{ form.designId.label }}</td>
		    	<td>
		    		{{ form.designId(class_="form-control")}}
		    	</td>
		    </tr>
		    <tr>
		    	<td>{{ form.piece.label }}</td>
		    	<td>
		    		{{ form.piece(class_="form-control")}}
		    	</td>
		    </tr>
		    <tr>
		    	<td>{{ form.materialId.label }}</td>
		    	<td>
		    		{{ form.materialId(class_="form-control")}}
		    	</td>
		    </tr>
		    <tr>
		    	<td>{{ form.inStudio.label }}</td>
		    	<td>
		    		{{form.inStudio(class_="form-control")}}
		    	</td>
		    </tr>
		    <tr>
		    	<td>{{ form.notes.label }}</td>
		    	<td>
		    		{{form.notes(class_="form-control")}}
		    	</td>
		    </tr>
		    <tr>
		    	<td>{{ form.submit() }}</td>
		    	<td></td>
			</tr>
			</table>
		</div>
	</form> 
</div>
{% endblock %}
